menuconfig USE_UART
    bool "Enable UART"
    default y
    
    if USE_UART
        menuconfig ENABLE_UARTA
            bool "UART-A"
            default y

            if ENABLE_UARTA
                choice
                    prompt "TX GPIO"
                    default UARTA_TX_GPIO29
                    config UARTA_TX_GPIO29
                        bool "GPIO29"
                    config UARTA_TX_GPIO35
                        bool "GPIO35"
                endchoice
                config UARTA_TX_GPIO
                    int
                    default 29 if UARTA_TX_GPIO29
                    default 35 if UARTA_TX_GPIO35

                choice
                    prompt "RX GPIO"
                    default UARTA_RX_GPIO28
                    config UARTA_RX_GPIO28
                        bool "GPIO28"
                    config UARTA_RX_GPIO36
                        bool "GPIO36"
                endchoice
                config UARTA_RX_GPIO
                    int
                    default 28 if UARTA_RX_GPIO28
                    default 36 if UARTA_RX_GPIO36

                config BAUDRATE_UARTA
                    int "Baud Rate"
                    default 115200
                config TX_QUEUE_BUFF_SZ_UARTA
                    int "Transmit Queue Buffer Size"
                    default 256
                config RX_QUEUE_BUFF_SZ_UARTA
                    int "Receive Queue Buffer Size"
                    default 128
            endif

        menuconfig ENABLE_UARTB
            bool "UART-B"
            default n

            if ENABLE_UARTB
                choice
                    prompt "TX GPIO"
                    default UARTB_TX_GPIO18
                    config UARTB_TX_GPIO9
                        bool "GPIO9"
                    config UARTB_TX_GPIO14
                        bool "GPIO14"
                    config UARTB_TX_GPIO18
                        bool "GPIO18"
                    config UARTB_TX_GPIO22
                        bool "GPIO22"
                endchoice
                config UARTB_TX_GPIO
                    int
                    default 9 if UARTB_TX_GPIO9
                    default 14 if UARTB_TX_GPIO14
                    default 18 if UARTB_TX_GPIO18
                    default 22 if UARTB_TX_GPIO22

                choice
                    prompt "RX GPIO"
                    default UARTB_RX_GPIO19
                    config UARTB_RX_GPIO11
                        bool "GPIO11"
                    config UARTB_RX_GPIO15
                        bool "GPIO15"
                    config UARTB_RX_GPIO19
                        bool "GPIO19"
                    config UARTB_RX_GPIO23
                        bool "GPIO23"
                endchoice
                config UARTB_RX_GPIO
                    int
                    default 11 if UARTB_RX_GPIO11
                    default 15 if UARTB_RX_GPIO15
                    default 19 if UARTB_RX_GPIO19
                    default 23 if UARTB_RX_GPIO23

                config BAUDRATE_UARTB
                    int "Baud Rate"
                    default 115200
                config TX_QUEUE_BUFF_SZ_UARTB
                    int "Transmit Queue Buffer Size"
                    default 256
                config RX_QUEUE_BUFF_SZ_UARTB
                    int "Receive Queue Buffer Size"
                    default 128
            endif

        menuconfig ENABLE_UARTC
            bool "UART-C"
            default n

            if ENABLE_UARTC
                config UARTC_TX_GPIO
                    int
                    default 63
                config UARTC_RX_GPIO
                    int
                    default 62
                config BAUDRATE_UARTC
                    int "Baud Rate"
                    default 115200
                config TX_QUEUE_BUFF_SZ_UARTC
                    int "Transmit Queue Buffer Size"
                    default 256
                config RX_QUEUE_BUFF_SZ_UARTC
                    int "Receive Queue Buffer Size"
                    default 128
            endif
    endif
